<% if @trip_object.two_months? %>
  <div id="weather">
    <p class="hidden"><%= @trip_object.city %></p>
  </div>
<% else %>
  <div id="userbanner">
    <h1 class="userwelcome"><%= @trip_object.name %></h1>
  </div>
<% end %>


<div class="row">
  <div class="large-8 large-centered">
<a class="hollow button float-right" href="mailto:?subject=Check out my <%= @trip_object.name %> trip details on Trip.ly!&amp;body=Check out my trip itinerary and resources for <%= @trip_object.name %> at  http://trip-ly.herokuapp.com/trips/share?key=<%= @trip_object.key%>"
   title="Share by Email">
Share Trip Details
</a>
</div>
</div>

<%= react_component 'Trip', { trip: @trip, packing_lists: @packing_lists, resource_lists: @resource_lists, itinerary: @itinerary } %>
