
<div class="user-profile row">
  <div class="large-8 large-centered column">
    <h1 class="greeting center-text">Welcome, <%= @user.first_name %></h1>
  </div>
</div>

<div class="row">
<!--  NEEDS TO BE REFACTORED  -->
<% if @trip.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@trip.errors.count, "error") %> prohibited
      this trip from being saved:
    <p>
    <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="small-10 medium-8 large-8 column small-centered medium-centered large-centered">
    <form class="trips-list" id="add-trip" method="GET" action="/trips/new">
      <button class="expanded hollow button" type="submit">Add a Trip <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </form>
  </div>
</div>
<div class="row">
  <div class="small-10 small-centered medium-8 medium-centered large-8 large-centered">
    <div class="trips-list medium-6 large-6 columns">
      <div class="upcoming">
        <ul><h5>Upcoming Trips</h5>
          <% upcoming_trips(@user).each do |trip| %>
            <li class="user-options">
              <form id="edit-trip" method="GET" action="/trips/<%= trip.id %>/edit">
                <button class="fa fa-pencil-square-o" type="image" value="Edit" alt="Edit"> Edit</button>
              </form>
              <!-- <%= button_to 'Delete', trip_path(trip),
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %> -->
              <form id="delete-trip" method="post" action="<%= trip_path(trip) %>">
                <input type="hidden" name="_method" value="delete">
                <button class="fa fa-trash-o" data-confirm="Are you sure?" type="submit" value="Delete"> Delete</button>
              </form>
              <a href="/trips/<%= trip.id %>"><%= trip.name %></a>
            </li>
          <% end %>
        <ul>
      </div>
    </div>
    <div class="trips-list medium-6 large-6 columns">
      <ul class="past"><h5>Past Trips</h5>
        <% past_trips(@user).each do |trip| %>
          <li >
            <form id="edit-trip" method="GET" action="/trips/<%= trip.id %>/edit">
              <button class="fa fa-pencil-square-o" type="button" type="submit" value= "Edit">Edit</button>
            </form>
            <!-- <%= button_to 'Delete', trip_path(trip),
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %> -->
                 <form id="delete-trip" method="post" action="<%= trip_path(trip) %>">
                   <input type="hidden" name="_method" value="delete">
                   <button class="fa fa-trash-o" data-confirm="Are you sure?" type="submit" value="Delete"> Delete</button>
                 </form>
            <a href="/trips/<%= trip.id %>"><%= trip.name %></a>
          </li>
        <% end %>
      <ul>
    </div>
  </div>
</div>
</div>
