<div class="row"><h1 class="greeting">Welcome, <%= @user.first_name %></h1>

<!--  NEEDS TO BE REFACTORED  -->
<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@trip.errors.count, "error") %> prohibited
      this trip from being saved:
    </h2>
    <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form class="trips-list" id="add-trip" method="GET" action="/trips/new">
  <button class="hollow button" type="submit">Add a Trip</button>
</form>

<div class="trips-list">
  <ul class="upcoming">Upcoming Trips
    <% upcoming_trips(@user).each do |trip| %>
      <li >
        <form id="edit-trip" method="GET" action="/trips/<%= trip.id %>/edit">
          <button class="fa fa-pencil-square-o" type="submit" value= "Edit">Edit</button
        </form>
        <%= button_to 'Delete', trip_path(trip),
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
        <a href="/trips/<%= trip.id %>"><%= trip.city %></a>
      </li>
    <% end %>
  <ul>
</div>
<div class="trips-list">
  <ul class="past">Past Trips
    <% past_trips(@user).each do |trip| %>
      <li >
        <form id="edit-trip" method="GET" action="/trips/<%= trip.id %>/edit">
          <input type="button" type="submit" value= "Edit">
        </form>
        <%= button_to 'Delete', trip_path(trip),
             method: :delete,
             data: { confirm: 'Are you sure?' } %>
        <a href="/trips/<%= trip.id %>"><%= trip.city %></a>
      </li>
    <% end %>
  <ul>
</div>
</div>
