  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

      <!-- off-canvas title bar for 'small' screen -->
      <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
        <div class="title-bar-left">
          <span class="title-bar-title header-logo"><a href="/"><i class="fa fa-suitcase" aria-hidden="true"></i>Trip.ly</a></span></span>
        </div>
        <div class="title-bar-right">
          <span class="title-bar-title"></span>
          <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
        </div>
      </div>

      <!-- off-canvas right menu -->
      <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
        <ul class="vertical dropdown menu" data-dropdown-menu>
          <% if user_signed_in? %>
            <li><a href="/users/<%= current_user.id %>">Dashboard</a></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path, class: "hollow button"  %></li>
            <li><%= link_to "Sign In", new_user_session_path, class: "hollow button"  %></li>
          <% end %>
        </ul>
      </div>

      <!-- "wider" top-bar menu for 'medium' and up -->
      <div data-sticky-container>
      <div id="widemenu" data-sticky data-options="marginTop:0;" class="top-bar">
        <div class="top-bar-title">
            <span class="menu-text header-logo"><a href="/"><i class="fa fa-suitcase" aria-hidden="true"></i>Trip.ly</a></span>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
          <% if user_signed_in? %>
            <li><a class="white hollow button" href="/users/<%= current_user.id %>">Dashboard</a></li>
            <li><%= link_to "Log out", logout_path, method: "delete", class: "white hollow button"  %>
          <% else %>
            <li><%= link_to "Register", new_user_registration_path, class: "white hollow button" %></li>
            <li><%= link_to "Sign In", new_user_session_path, class: "white hollow button" %></li>
          <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
