<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Trip.ly" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Register", new_user_registration_path %></li>
    <li><%= link_to "Sign in ", new_user_session_path %></li>
    <li><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></li>
    <li><a href="users/<%= current_user.id %>">Dashboard</a></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %>
    </ul>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
