<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Trip.ly" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%="#{ENV['GOOGLE_AUTOCOMPLETE_KEY']}"%>&amp;libraries=places&amp;callback=initAutocomplete"
        async defer></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://use.fontawesome.com/1593c6697e.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" rel="stylesheet">
  </head>

  <body>

    <script type="text/javascript" src="/scripts/stickyFooter.js"></script>
    <%= render "layouts/header" %>
          <div class="off-canvas-content container" data-off-canvas-content>
              <%= render 'layouts/messages' %>
                <%= yield %>
          </div>
          <!-- Closing div tags for navigation menu -->
        </div>
      </div>
<%= render "layouts/footer" %>
  </body>
</html>
